# Directories
.vs/
bin/
bin-int/

!vendor/bin

# Files
*.user
*.vcxproj
*.vcxproj.filters
*.sln

# ImGui settings
imgui.ini

# Profiler sessions
**/SkyProfile-Runtime.json
**/SkyProfile-Shutdown.json
**/SkyProfile-Startup.json
