[submodule "Sky/vendor/spdlog"]
	path = Sky/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sky/vendor/GLFW"]
	path = Sky/vendor/GLFW
	url = https://github.com/anon121213/glfw
[submodule "Sky/vendor/imgui"]
	path = Sky/vendor/imgui
	url = https://github.com/anon121213/imgui
[submodule "Sky/vendor/glm"]
	path = Sky/vendor/glm
	url = https://github.com/g-truc/glm
